/********************
사용자 정의 css 모음
********************/

.toggle-background-style {
    background-color : #bd5d38;
    border-color : #bd5d38;
    color : rgba(255,255,255,.75);
}

.sub-menu-style {
    text-align: left;
    margin-left: 50px;
    font-size: smaller;
}

.project-icon {
    width: 100px
}